<div class="main">
  <div class="footer">
    <div class="footer-column">
      <h1>Discover</h1>
      <ul>
        <li>Footer link</li>
        <li>Footer link</li>
        <li>Footer link</li>
        <li>Footer link</li>
      </ul>
    </div>

     <div class="footer-column">
      <h1>Services</h1>
      <ul>
        <li>Footer link</li>
        <li>Footer link</li>
        <li>Footer link</li>
        <li>Footer link</li>
      </ul>
    </div>

     <div class="footer-column">
      <h1>Company</h1>
      <ul>
        <li>Footer link</li>
        <li>Footer link</li>
        <li>Footer link</li>
        <li>Footer link</li>
      </ul>
    </div>
  </div>
</div>
