<h1>Dashboard</h1>

<% @appointments.each do |appointment| %>
  <div style="display: flex">
    <ul>
      <li>
        <%= appointment.date %>
        <br>
        <%= appointment.status %>
       </li>
    </ul>
  </div>
<% end %>

<% @advisor_appointments.each do |advisor_appointment| %>
  <div style="display: flex">
    <ul>
      <li>
        <%= advisor_appointment.date %>
        <br>
        <%= advisor_appointment.status %>
      </li>
    </ul>
  </div>
<% end %>
