<div class="banner">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Plan your journey and connect    with expert advisors to guide you   on the path to a new life.</h1>
        <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Get started</a>.</p>

      </div>
    </div>
  </div>


<div class="container">


  <div class="container">
    <h1>Discover your path</h1>

      <div class="container d-flex flex-row bd-highlight mb-3 justify-content-between">
      <!--     Remove padding on this container to align H1 above  -->
        <div class="card-path" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Path card
        </div>

        <div class="card-path" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Path card
        </div>

        <div class="card-path" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Path card
        </div>
      </div>

      <div>Get started</div>
    </div>

    <br>

    <div class="container">
      <h1>Find your path</h1>

      <div class="container d-flex flex-row bd-highlight mb-3 justify-content-between">
      <!--     Remove padding on this container to align H1 above  -->
        <div class="card-service" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Service card
        </div>

        <div class="card-service" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Service card
        </div>

        <div class="card-service" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Service card
        </div>

      </div>
      <div>All services</div>
    </div>


</div>




