.card-path {
  background-size: cover;
  background-position: center;
  height: 320px;
  width: 240px;
  display: flex;
  justify-content: left;
  align-items: top;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-path > p {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #f9fafb;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
