.service-booking-details-row {
  display: flex;
  flex-direction: row;
}

.service-booking-advisor-info {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 480px;
  height: auto;
}


.booking-calendar-container {
  padding: 10px;
}
