.slice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // max-width: 75vw;
  min-height: 40vh;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
}

.slice-container > h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1.8em;
}

.slice-container > h2 {
  font-family: Helvetica, sans-serif;
  font-size: 1.4em;
}

